#Book
{
    color: #fff;
    background-image: url(../../images/Backgrounds/black-bg.png);
    background-position: center;
    background-size: cover;
}

#Book .container .content .item_f
{
    /* height: 90%; */
    margin: auto;
    text-align: center;
    
    background-image: url(../../images/Backgrounds/leaves_pattern.png);
    background-color: var(--main-color);
}

#Book .container .content .item_f textarea
{
    resize: none;
    /* display: block; */
    /* height: 170px;  */
}

#Book .container .content .item_f form button
{
    position: relative;
    border: 1px solid transparent;
    transition-duration: 0.5s;
    overflow: hidden;
}

#Book .container .content .item_f form button span
{
    position: relative;
    z-index: 4;
}

#Book .container .content .item_f form button::before
{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    background-color: var(--main-color) ;
    transition-duration: 0.5s;
}

#Book .container .content .item_f form button:hover::before
{
    transform: translateY(0);
}

#Book .container .content .item_f form button:hover
{
    border-color: #fff ;
}

